/*noinspection CssInvalidAtRule*/
@tailwind base;
/*noinspection CssInvalidAtRule*/
@tailwind components;
/*noinspection CssInvalidAtRule*/
@tailwind utilities;

body {
  @apply bg-gray-300;
}

.clickable:hover {
  @apply bg-gray-300;
  cursor: pointer;
}

.table-cell {
  @apply px-4 py-2;
}

.container {
  height: 100vh;
}

@screen md {
  .container {
    @apply mt-12;
    height: calc(100vh - 3rem);
  }
}

.table-container {
  @apply max-w-full;
  overflow: scroll;
  max-height: calc(100% - 2.5rem);
}

.sticky-column {
  @apply sticky left-0 bg-white;
}

/*noinspection CssInvalidFunction*/
.icon-primary {
  fill: theme("colors.gray.200");
}

/*noinspection CssInvalidFunction*/
.icon-secondary {
  fill: theme("colors.gray.600");
}
