/*noinspection CssInvalidAtRule*/
@tailwind base;
/*noinspection CssInvalidAtRule*/
@tailwind components;
/*noinspection CssInvalidAtRule*/
@tailwind utilities;

body {
  @apply bg-gray-300 py-12;
}

.clickable:hover {
  @apply bg-gray-300;
  cursor: pointer;
}

.cell {
  @apply px-4 py-2;
}

.sticky-column {
  @apply sticky left-0 bg-white;
}

/*noinspection CssInvalidFunction*/
.icon-primary {
  fill: theme('colors.gray.200');
}

/*noinspection CssInvalidFunction*/
.icon-secondary {
  fill: theme('colors.gray.600');
}
